---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    <b>Desarrollador Android</b> capaz de programar de manera rápida y precisa. 
    Soy una persona proactiva, creativa, responsable y organizada en mi 
    trabajo. Siempre tengo la mejor disposición para el aprendizaje de 
    nuevos conceptos. Busco un puesto de trabajo desafiante 
    con alto nivel de crecimiento. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnicatura en Desarrollo de Aplicaciones Móviles"
      subtitle="2021 a Presente en Universidad Nacional de La Matanza, San Justo, PBA"
    />
    <TimeLineElement
      title="Ingeniería Informática"
      subtitle="2018 a 2020 en Universidad Nacional de La Matanza, San Justo, PBA"
    />
    <TimeLineElement
      title="Técnico en Programación"
      subtitle="2012 a 2017 en E.E.S.T. N°6 «CHACABUCO», Morón, PBA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Analista e-commerce"
      subtitle="De Agosto 2021 a Septiembre 2022 en Lush Informática, Morón, PBA"
    >
      <ul class="list-disc md:columns-1 mx-6">
        <li>Ventas directas al consumidor.</li>
        <li>Control de datos de ventas y niveles de stock.</li>
        <li>Optimización de ventas y aumentar la visibilidad.</li>
        <li>Gestión de reclamos y devoluciones.</li>
        <li>Logística y distribución de productos.</li>
      </ul>
      <br>
    </TimeLineElement>
    <TimeLineElement
      title="Técnico informático"
      subtitle="De Octubre 2020 a Agosto 2021 en Caliluz Informática, Haedo, PBA"
    >
    <ul class="list-disc md:columns-1 mx-6">
      <li>Armado y reparación de computadoras.</li>
      <li>Limpieza y mantenimiento de componentes de computadora</li>
      <li>Embalaje de productos</li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
